<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
   <style>
        body { background-color: #c0c0c0; font-family: "Arial", sans-serif; }
        .navbar { background-color: #000080; color: white; padding: 5px; }
        .forum-table { border: 2px outset #ffffff; background-color: #e0e0e0; }
        .forum-header { background-color: #0000a0; color: white; font-weight: bold; }
        a { color: #0000ee; text-decoration: underline; }
        a:visited { color: #551a8b; }
   </style>
</head>
<body text="#000000" link="#0000ee" vlink="#551a8b">

<!--Navigation Bar-->    
<table width="100%" height="120" border="0" cellpadding="4" cellspacing="0" class="navbar">
  <tr>
    <td align="left"><b><i><font size="60">5<font size="6">CHIN</i></b></td>
    <td align="center"><b><font size="4">/Home</b></td>
    <td align="right"><b>Home | Register | Search | Login</b></td>
  </tr>
</table>

<br>

<!--Forum Table-->
<table width="30%" border="0" cellpadding="3" cellspacing="1" class="forum-table" align="left">
  <tr class="forum-header">
    <td width="60%">Forum</td>
     <td width="40%">User</td>
  </tr>
  <tr bgcolor="#ffffff">
    <td><b>General Chat</b><br><font size="2">Discuss everything here.</font></td>
    <td><font size="2">By user1<br>10-25-2000</font></td>
  </tr>
  <tr bgcolor="#f0f0f0">
    <td><b>Tech & Gadgets</b><br><font size="2">Palm Pilots, MP3s, & PC help.</font></td>
    <td><font size="2">By techwiz<br>10-25-2000</font></td>
  </tr>
</table>

<br>

<!--Footer-->
<div align="center">
  <font size="2">
    Powered by Y2K-Board v1.0 | 2026
</font>
</div>

</body>
</html>