name: CI Pipeline

on:

  push:
    branches:
      - main  # Run on pushes made into the main branch

  pull_request:

    branches:
      - main  # Run on pull requests targeting the main branch

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylint pytest pre-commit  # Ensuring proper installs

      - name: Run pre-commit
        run: |
          pre-commit run --all-files  # Run Pre-Commit hooks

      - name: Run pylint
        run: |
          pylint $(git ls-files '*.py') #Run Pylint on necessary code (could change to include specified files)
